{%  extends 'partial/base.html' %}

{% block head %}
<title>Dashboard</title>
{% endblock %}

{% block body %}
    <div class="d-sm-flex justify-content-between align-items-center mb-4">
        <h3 class="text-white mb-0">Dashboard</h3><a class="btn btn-outline-warning btn-sm d-none d-sm-inline-block" role="button" href="#"><i class="fas fa-download fa-sm text-success-50"></i>&nbsp;Generate Report</a>
    </div>
    <div class="row">
        <div class="col-md-6 col-xl-3 mb-4 bg-gradient-dark">
            <div class="card shadow border-start-primary py-2 bg-gradient-dark">
                <div class="card-body bg-gradient-dark">
                    <div class="row align-items-center no-gutters bg-gradient-dark">
                        <div class="col me-2 bg-gradient-dark">
                            <div class="text-uppercase text-warning fw-bold text-xs mb-1"><span>Total Sales</span></div>
                            <div class="text-white text-lg-center fw-bold h2 mb-0"><span>£ {{ card_data['sales'] }}</span></div>
                        </div>
                        <div class="col-auto"><i class="fas fa-dollar-sign fa-2x text-gray-300"></i></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-xl-3 mb-4 bg-gradient-dark">
            <div class="card shadow border-start-success py-2 bg-gradient-dark">
                <div class="card-body bg-gradient-dark">
                    <div class="row align-items-center no-gutters bg-gradient-dark">
                        <div class="col me-2 bg-gradient-dark">
                            <div class="text-uppercase text-warning fw-bold text-xs mb-1"><span>Availability Rate</span></div>
                            <div class="text-white text-lg-center fw-bold h2 mb-0"><span>{{ card_data['availability'] }}%</span></div>
                        </div>
                        <div class="col-auto"><i class="fas fa-calendar fa-2x text-gray-300"></i></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-xl-3 mb-4 bg-gradient-dark">
            <div class="card shadow border-start-info py-2 bg-gradient-dark">
                <div class="card-body bg-gradient-dark">
                    <div class="row align-items-center no-gutters bg-gradient-dark">
                        <div class="col me-2 bg-gradient-dark">
                            <div class="text-uppercase text-warning fw-bold text-xs mb-1"><span>Average Rating</span></div>
                            <div class="text-white text-lg-center fw-bold h2 mb-0"><span>{{ card_data['rating'] }}</span></div>
                        </div>
                        <div class="col-auto"><i class="fas fa-star fa-2x text-gray-300"></i></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-xl-3 mb-4 bg-gradient-dark">
            <div class="card shadow border-start-warning py-2 bg-gradient-dark">
                <div class="card-body bg-gradient-dark">
                    <div class="row align-items-center no-gutters bg-gradient-dark">
                        <div class="col me-2 bg-gradient-dark">
                            <div class="text-uppercase text-warning fw-bold text-xs mb-1"><span>Total Reviews</span></div>
                            <div class="text-gray-100 text-lg-center fw-bold h2 mb-0"><span>{{ card_data['reviews'] }}</span></div>
                        </div>
                        <div class="col-auto"><i class="fas fa-comments fa-2x text-gray-300"></i></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col bg-gradient-dark">
            <div class="card shadow mb-4 bg-gradient-dark">
                <div class="card-header d-flex justify-content-between align-items-center bg-gradient-dark">
                    <h6 class="text-gray-100 fw-bold h4 m-0 "></h6>
                </div>
                <div class="card-body">

                </div>
            </div>
        </div>
    </div>
{% endblock %}