{% extends 'partial/base.html' %}
{% block head %}
    <title>Promotions</title>
    <script src="https://cdn.bokeh.org/bokeh/release/bokeh-2.4.0.min.js"
            crossorigin="anonymous"></script>
    <script src="https://cdn.bokeh.org/bokeh/release/bokeh-widgets-2.4.0.min.js"
            crossorigin="anonymous"></script>
    <script src="https://cdn.bokeh.org/bokeh/release/bokeh-tables-2.4.0.min.js"
            crossorigin="anonymous"></script>
    <script src="https://cdn.bokeh.org/bokeh/release/bokeh-gl-2.4.0.min.js"
            crossorigin="anonymous"></script>
    <script src="https://cdn.bokeh.org/bokeh/release/bokeh-mathjax-2.4.0.min.js"
            crossorigin="anonymous"></script>
    {{ script|safe }}
    {{ js_resources|safe }}
    {{ css_resources|safe }}
{% endblock %}
{% block body %}
    <div class="d-sm-flex justify-content-between align-items-center mb-4">
        <h3 class="text-white mb-0">Promotions</h3><a class="btn btn-outline-warning btn-sm d-none d-sm-inline-block" role="button" href="#"><i class="fas fa-download fa-sm text-success-50"></i>&nbsp;Generate Report</a>
    </div>
    <div class="row">
        <div class="col"></div>
        <div class="col-md-10">
            {{ div|safe }}
        </div>
        <div class="col"></div>
    </div>
{% endblock %}