{% extends 'partial/base.html' %}
{% block head %}
    <title>Sales</title>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script>
    tdata = JSON.parse({{ tempdata|tojson|safe }});
    tempdata = tdata.data;
    temptitle = tdata.title;
    chartType = "LineChart";
    containerId = "curve_chart";
    options={'title':temptitle};
    </script>
    <script type="text/javascript">
    google.charts.load('current', {'packages':['corechart']});
    google.charts.setOnLoadCallback(drawChart);

    function drawChart() {
        google.visualization.drawChart({
            "containerId":containerId,
            "dataTable": tempdata,
            "chartType":chartType,
            "options":options
        });
    }
    </script>
{% endblock %}
{% block body %}
    <div class="d-sm-flex justify-content-between align-items-center mb-4">
        <h3 class="text-dark mb-0">Sales</h3><a class="btn btn-primary btn-sm d-none d-sm-inline-block" role="button" href="#"><i class="fas fa-download fa-sm text-white-50"></i>&nbsp;Generate Report</a>
    </div>
    <div id="curve_chart" style="width: 900px; height: 500px"></div>
{% endblock %}